body {
    font-family: 'Orbitron', sans-serif;
    background-image: url("C:/Users/Tim/Codelab/StarWars/assets/images/versus.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-color: black;
    
    
}

h1 {
    color: #b3b3ff;
    font-size: 70px;
    margin 0 auto;
    text-align: center;
}

#container {
    width: 800px;
    height: 800px;
    margin-left: 100px;
    opacity: 0.5;
    
}

#chooseplayer, #enemy, #fightsection, #defender {
    width: 800px;
    height: 35px;
    color: #b3b3ff;
    font-size: 30px;
    padding-top: 5px;
}

#playerField1, #enemyfield, #defenderField {
    width: 800px;
    height: 200px;
}

.player, .box {
    height: 180px;
    width: 180px;
    float: left;
    margin: 10px;
    cursor: pointer;
    color: red;
    font-size: 25px;
    background-color: aqua;
}

.villian {
    background-color: red;
    color: black;
}